@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'Outfit';
}

:root {
  --primary-color-500: #20b2aa;
  --primary-color-600: #1a918a;
  --primary-color-700: #146f6a;
  --primary-color-800: #0e4e4b;
  --primary-color-900: #0b3e3b;
  --grey-color-100: rgb(245, 245, 245);
  --grey-color-200: rgb(235, 235, 235);
  --grey-color-300: rgb(220, 220, 220);
  --grey-color-400: rgb(205, 205, 205);
  --grey-color-500: rgb(190, 190, 190);
  --grey-color-600: rgb(170, 170, 170);
  --grey-color-700: rgb(150, 150, 150);
  --grey-color-800: rgb(130, 130, 130);
  --grey-color-900: rgb(110, 110, 110);
  --danger-color-500: rgb(255, 0, 0);
  --danger-color-600: rgb(210, 0, 0);
  --success-color: green;
}

@theme {
  --color-primary-50: #dbeff1;
  --color-primary-100: #b8e0e2;
  --color-primary-200: #8eced0;
  --color-primary-300: #5dbbbd;
  --color-primary-400: #34a8a9;
  --color-primary-500: #14948f; /* Darker Base */
  --color-primary-600: #117f7a;
  --color-primary-700: #0d6a66;
  --color-primary-800: #0a5552;
  --color-primary-900: #073f3d;
  --color-accent-50: #e2f7fb;
  --color-accent-100: #ffece8;
  --color-accent-200: #ffd0c5;
  --color-accent-300: #ffb3a1;
  --color-accent-400: #ff8f75;
  --color-accent-500: #ff603a; /* Base */
  --color-accent-600: #e7441d;
  --color-accent-700: #c42700;
  --color-accent-800: #a12000;
  --color-accent-900: #701700;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
}
